@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}
    
.logo-nav {
    margin-right: 76px;
}

.contacts-nav {
    display: flex;
    margin-left: 300px;
}

.contacts-nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
}

/* HEROOOOOOOOO */

.hero-section-color {
    background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/hero/hero-desktop-1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section-color {
        background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/hero/hero-desktop-2x.jpg);
    }
}

.hero-button {

    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    /* SECTION TWO */

    .section-two-format {
        padding-top: 96px;
        padding-bottom: 0;
    }

    .sectiontwo-title {
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-color);
    }

    .sectiontwo-text {
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .sectiontwo-item {
        width: calc((100% - 72px) / 4);
        margin-bottom: 0;
    }

    .sectiontwo-item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }

        /* SECTION THREE*/

.sectionthree {
    display: block;
}

    /* SECTION FOUR */

    .sectionfour {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .sectionfour-item {
        width: calc((100% - 72px) / 4);
    }

    /* SECTION FIVE */
    .sectionfive {
        padding-top: 120px;
        padding-bottom: 64px;
    }

    .sectionfive-item {
        width: calc((100% - 120px) / 6);
    }

/* FOOTER */

.footer-format {
    display: flex;
}

.footer-content {
    width: 264px;
}

.footer-socialmedia {
    margin-left: 120px;
}

.footer-subscribe {
    margin-top: 0;
    margin-left: 80px;
}

.subscribe-input {
    width: 264px;
}

.subscribe-button {
    margin-left: 24px;

}

.modal {
min-height: 584px;
}

/* PORTFOLIO */

.button-filter {
    display: flex;
    padding-top: 96px;
   padding-bottom: 72px;
    justify-content: center;
}

.portfolio {
    padding-top: 0;
    padding-bottom: 72px;
}

.portfolio-items {
    gap: 24px;
}

.portfolio-items-list {
    width: calc((100% - 48px) / 3);
}

.portfolio-items-list:not(:nth-last-child(-n+3)) {
margin-bottom: 48px;
}

.portfolio-bttn {
    padding-left: 24px;
    padding-right: 24px;
}
}

