@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 108px;
        padding-right: 108px;
    }

/* HEADER */

.header {
    padding-top: 17px;
    padding-bottom: 17px;
}

.header > .container {
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
}

.header>.container {
padding-left: 16px;
padding-right: 16px;
}

.logo-nav {
    margin-right: 120px;
}

.menu-nav {
    display: flex;
}

.contacts-nav {
    display: block;
    margin-left: 118px;
}

.contacts-nav-link{
    font-family: var(--primary-font);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.04em;
}


.menu-open {
    display: none;
}
/* HEROOOOOOOOO */

.hero-section-color {
    background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/hero/hero-tab-1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section-color {
        background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/hero/hero-tab-2x.jpg);
    }
}

.hero-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0px auto;
}

.hero-format {
    max-height: 436px;
}
.hero-button {
    margin-top: 40px;
}
    /* SECTION TWO */

    .sectiontwo {
        gap: 24px;
    }

.section-two-format > .container{
    padding-left: 0;
    padding-right: 0;
}

.section-two-format>.container {
    padding-left: 16px;
    padding-right: 16px;
}

    .sectiontwo-item {
        width: calc((100% - 24px) / 2);
        margin-bottom: 48px;
    }

    .sectiontwo-title {
        text-align: left;
    }

    /* SECTION FOUR */
    .sectionfour {
        padding-bottom: 104px;
    }

    .sectionfour-list {
        gap: 24px;
    }

    .sectionfour-item {
        width: calc((100% - 24px) / 2);
    }

    /* SECTION FIVE */

    .sectionfive {
        padding-bottom: 16px;
    }

    .sectionfive-item {
        width: calc((100% - 48px) / 3);
    }

    .sectionfive-list {
        gap: 24px;
    }

    /* FOOTER */

.footer-format{
display: flex;
flex-wrap: wrap;
}

.footer-content {
    width: 264px;
    margin-left: 0;
    margin-right: 0;
}

.logo-footer {
    justify-content: left;
}

.footer-socialmedia {
    margin-top: 0;
    margin-left: 24px;
}
        .subscribe-box {
            display: flex;
        }

    .subscribe-input {
    width: 264px;
    }


        .subscribe-button {
            margin-left: 24px;
            margin-right: 0;
            align-items: center;
            display: flex;
            align-items: center;
            justify-content: center;
            fill: #FFFFFF;
        }

    .footer-socialmedia-title{
    text-align: left;
}

.modal {
    width: 408px;
}

/* PORTFOLIO */
.portfolio {
    padding-top: 0;
    padding-bottom: 98px;
}

.portfolio > .container{
    padding-left: 91px;
    padding-right: 91px;
}

.portfolio-items {
gap: 24px;
}

.portfolio-items-list {
width: calc((100% - 24px) / 2);
}

.portfolio-items-list:not(:last-child){
    margin-bottom: 72px;
}

.button-filter {
    padding-top: 64px;
    padding-bottom: 64px;
}

.portfolio-bttn {
    padding-left: 22px;
    padding-right: 22px;
}
}